.container {
    max-width: 5in;
    width: 80%;
    margin: auto;
}

.form {
    width: fit-content;
    margin: auto;
}

.form div {
    margin-top: 0.5rem;
}

.form input {
    padding: 1rem;
    width: 100%;
}

.loginBtn {
    width: 100%;
    margin: auto;
    margin-top: 0.5rem;
    padding: 1rem;
}

.form p {
    margin: auto;
    text-align: center;
    color: red;
}