.container {
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    width: fit-content;
}

.container > input {
    padding: 1rem;
}

.update {
    margin-left: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
}

.delete {
    margin-left: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
}


.checkbox {
    margin-left: 1rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.checkbox > input {
    width: 2rem; /* Adjust the width */
    height: 2rem; /* Adjust the height */
    font-size: 16px; /* Adjust the font size */
    margin: auto;
    margin-top: 2px;
    
}